/* 

## Colour palette

- 'Space Cadet' dark blue in logo: hsl(234, 40%, 29%)
- 'Old Gold' gold in logo: hsl(47, 58%, 56%)
- 'Alice Blue' off-white blue (body background): hsl(215, 37%, 90%)
- 'Gunmetal' blue-black (body text): hsl(213, 24%, 15%)
- 'Cyan Process' blue (footer): hsl(204, 47%, 54%)

## Typography

### Body Copy

- Base font size: 18px (1.125rem)

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 300, 400, 500
- Family: [Lora](https://fonts.google.com/specimen/Lora)
- Weights: 600, 700

*/

/* CSS style resets adapted from https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274400#overview & https://www.linkedin.com/learning/css-advanced-layouts-with-grid */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.5;
  color: hsl(213, 24%, 15%);
  background-color: hsl(215, 37%, 90%);
}

body>* {
  max-width: 54rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Lora, serif;
  clear: both;
}

ul {
  list-style-type: none;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.66rem;
  line-height: 1.8;
  margin-bottom: .75rem;
  font-size: 1rem;
  font-style: italic;
}

address {
  margin: 0 0 1.5em;
}

abbr,
acronym {
  border-bottom: .0625rem dotted hsl(0, 0%, 40%);
  cursor: help;
}

mark,
ins {
  background: hsl(54, 100%, 88%);
  text-decoration: none;
}

figure {
  margin: 0;
}

/* Global styles */

h1,
h3,
h4 {
  text-align: center;
  padding: 1em 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.65rem;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

h5 {
  font-size: 1.1rem;
  letter-spacing: .0175rem;
}

h4,
h6 {
  color: hsl(260, 5%, 65%);
}

h6 {
  font-size: .9rem;
}

h2,
h3,
h5 {
  font-weight: 700;
  line-height: 1.15;
  padding: .25rem 0 1.33rem;
  position: relative;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.7;
  color: hsl(260, 5%, 65%);
  padding-left: .5rem;
  padding-right: .5rem;
}

a {
  text-decoration: none;
}

img:not(.profiler, .logo, .partner-logo, .email-icon, .press-list-icon, .navbar-toggler-icon, .logo-dog-friendly) {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* Pseudo-element selector workaround to handle fixed navbar encroaching into anchor link areas - as suggested here: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */
:target::before {
  content: "";
  display: block;
  height: 3rem;
  /* fixed header height*/
  margin: -3rem 0 0;
  /* negative fixed header height */
}

/* Buttons */

.btn {
  padding: 1rem 1.85rem;
  text-transform: uppercase;
  font-family: Lora, serif;
  color: hsl(214, 24%, 19%);
  font-size: .95rem;
  border-radius: 5rem;
  font-weight: 900;
  letter-spacing: -.0125rem;
}

.btn-contact {
  background-color: hsl(204, 47%, 54%);
  color: hsl(0, 0%, 100%);
}

.btn-press {
  border: none;
  background-color: hsl(0, 0%, 96%);
  font-family: unset;
  text-transform: unset;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 300;
  font-size: 1.0625rem;
  border-radius: 0;
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  padding-left: .33rem;
  padding-right: .33rem;
  background-image: linear-gradient(90deg, hsla(47, 58%, 56%, .33), hsla(47, 58%, 56%, .33))
}

.btn-book {
  display: none;
}

/* Back-to-top button */

#btn-back-to-top {
  position: fixed;
  bottom: -.5rem;
  right: .9rem;
  z-index: 98;
  font-size: 3.5rem;
  color: hsl(234, 40%, 29%);
  display: none;
}

/* Code block adapted from https://bbbootstrap.com/snippets/simple-back-top-smooth-scroll-17111555 */

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
}

/* Navbar */

.navbar {
  background-color: hsl(234, 40%, 29%);
  width: 100%;
  color: hsl(47, 58%, 56%);
  padding: .5rem 1rem;
  position: relative;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 4.25rem;
}

.navbar-logo {
  width: 42.5%;
  max-width: 10rem;
  display: inline-block;
}

.logo {
  width: 100%;
  height: auto;
}

.navbar-toggler {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .25rem;
  /* border: .125rem solid hsl(47, 58%, 56%); */
  border: none;
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
}

#nav-toggler span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.25rem;
  background-color: hsl(234, 40%, 29%);
  color: hsl(47, 58%, 56%);
  transition: .05s ease-in-out;
}

#nav-toggler span:nth-child(2) {
  font-size: 1.75rem;
  padding-left: 0;
  position: relative;
  /* top: .125rem; */
  /* left: -.25rem; */
}

#nav-toggler span.active {
  transform: translateY(-100%);
}

#nav-toggler span:nth-child(2).active {
  top: -.25rem;
}

.collapse {
  width: 100vw;
  padding: 0;
  position: absolute;
  top: 4.25rem;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbar-nav {
  background-color: hsl(0, 0%, 96%);
  text-align: center;
  padding: 1.5rem .5rem;
  position: absolute;
  top: 0;
  height: calc(100vh - 4.25rem);
  left: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  clip-path: polygon(
      /* X and Y points */
      0% 24%,
      62% 0,
      100% 0,
      100% 76%,
      38% 100%,
      0 100%);
}

.navbar-nav,
.collapse {
  transition: all .25s;
}

.navbar-nav.show {
  left: 0;
}

.collapse.toggled {
  height: calc(100vh - 4.25rem);
  background-color: hsla(213, 24%, 15%, .6);
}

.nav-item:not(.nav-item-contact) {
  margin: 3.75vw 0;
}

.navbar-nav>.nav-item {
  position: relative;
  top: -.5rem;
}

.nav-item-contact {
  margin: 2rem 0;
}

.nav-link:not(.btn) {
  color: hsl(213, 24%, 15%);
  font-weight: 300;
  width: 100%;
  height: 100%;
  display: block;
}

#press-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: hsl(215, 37%, 90%);
  z-index: 999;
  padding: 1rem 2rem;
  display: none;
  transform: translateY(100%);
  transition: all 5s ease-in-out;
  opacity: 0;
}

#press-list.press-reveal {
  display: block;
  transform: translateY(0%);
  opacity: 1;
}

.press-list-item {
  padding: .55rem 0;
}

.press-list-link {
  color: hsl(213, 24%, 15%);
  font-weight: 400;
  position: relative;
  padding-left: 2.25rem;
}

.press-list-icon {
  position: absolute;
  left: 0;
  top: -.375rem;
}

/* Header */

header {
  height: 100vh;
  background-image: url(../images/bg-horizon.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  padding-top: 4.25rem;
}

.hero-icons {
  display: flex;
  padding-top: 20vw;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
}

.hero-icons>img {
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 60%;
  max-width: 18rem;
}

.hero-icons>img:nth-of-type(2) {
  right: 12vw;
}

.chevron-box {
  position: absolute;
  top: 136vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chevron-box a {
  font-size: 3.5rem;
  color: hsl(47, 58%, 56%);
}

/* Main */

/* About section */

.about-section-image {
  height: 92vw;
  background-size: cover;
  background-position: center;
}

.about-coffee-image {
  background-image: url(../images/coffee-cups.jpg);
}

.about-barber-image {
  background-image: url(../images/barbers.jpg);
}

.about-section-text {
  height: 84vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.about-section-text>h2 {
  padding: 0 0 1rem;
}

.about-section-text>p {
  font-size: 1rem;
}

.about-section-text>h2,
.about-section-text>p,
.about-section-text>a {
  position: relative;
  top: -1rem;
}

.link-more-info {
  font-family: Lora, serif;
  color: hsl(213, 24%, 15%);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .025rem;
  font-weight: 700;
  background-position: bottom;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  padding-left: .33rem;
  padding-right: .33rem;
  background-image: linear-gradient(90deg, hsla(47, 58%, 56%, .5), hsla(47, 58%, 56%, .5))
}

/* More Info section */

.more-info-section {
  position: relative;
}

.more-info-section-image {
  height: 178vw;
  background-size: cover;
  background-position: top;
}

.local-business-image {
  background-image: url(../images/bg-local-business.jpg);
}

.get-in-touch-image {
  background-image: url(../images/bg-get-in-touch.jpg);
}

.local-business-text,
.get-in-touch-text {
  position: absolute;
  left: 0;
  text-align: center;
  padding: 1rem;
}

.more-info-section-text p {
  font-size: .95rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: hsl(213, 24%, 15%);
  font-weight: 300;
}

.more-info-section-text p:nth-of-type(2),
.more-info-section-text p:nth-of-type(3) {
  display: none;
}

.local-business-text {
  top: 14vw;
}

.get-in-touch-text {
  bottom: 0;
  background-color: hsla(0, 0%, 100%, .8);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .get-in-touch-text {
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: hsla(0, 0%, 100%, .5);
  }
}

/* Customer reviews section */

#customer-reviews {
  padding-bottom: 2.75rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1.5rem 0 3.5rem;
}

.profiler {
  border-radius: 50%;
  margin-bottom: 1.25rem;
}

.customer {
  padding-bottom: .75rem;
}

/* Image gallery */

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 50vw;
  height: 50vw;
  max-height: 15rem;
  background-size: cover;
  background-position: center;
}

.gallery-image:first-of-type {
  background-image: url(../images/bg-coffee-heart.jpg);
}

.gallery-image:nth-of-type(2) {
  background-image: url(../images/bg-barber-kit.jpg);
}

.gallery-image:nth-of-type(3) {
  background-image: url(../images/bg-matthew.jpg);
}

.gallery-image:nth-of-type(4) {
  background-image: url(../images/bg-pasteis.jpg);
}

/* Partners section */

.reviews-heading {
  padding-bottom: 1.5rem;
}

#partners {
  margin: 0 1.75rem 1.75rem;
}

.partner {
  margin: 1.75rem 0;
}

.partner-logo {
  height: 30vw;
  display: block;
  border-radius: .1rem;
}

.partner-logo,
.partner-link {
  width: 100%;
}

.pieman-logo {
  background-color: hsl(12, 19%, 95%);
}

/* Location section */

#location h5 {
  color: hsl(234, 40%, 29%);
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-weight: 600;
}

.map-container {
  min-height: 100vw;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

/* Footer */

footer {
  height: 90vh;
  max-height: 36.5rem;
  background-color: hsl(204, 47%, 54%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.heading-footer {
  padding-bottom: 15vw;
  position: relative;
  font-size: 2.25rem;
}

.footer-nav,
.footer-nav-social {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-nav {
  justify-content: space-evenly;
}

.footer-nav-social {
  justify-content: space-between;
}

.footer-nav-contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav-contact .nav-item {
  margin: 0 0 .5rem;
}

.footer-nav {
  width: 80%;
  margin-bottom: 1rem;
  top: -10vw;
}

.reach-out {
  position: relative;
  top: -10vw;
}

.footer-nav-social {
  width: 44%;
  top: -17.5vw;
}

pre {
  position: relative;
  top: -18.5vw;
}

.footer-nav .nav-link,
.reach-out,
pre {
  color: hsl(215, 37%, 90%);
}

.footer-nav .nav-link {
  font-size: 1.05rem;
}

.footer-nav:not(.footer-nav-contact) .nav-link {
  font-size: 1.25rem;
}

.email-link {
  color: hsl(213, 24%, 15%);
}

.email-icon {
  position: relative;
  top: .25rem;
}

.fa-phone,
.email-icon {
  margin-right: .35rem;
}

.footer-nav-social .nav-link {
  font-size: 1.5rem;
}

.twitter {
  position: relative;
  top: .175rem;
}

.dog-friendly {
  position: relative;
  top: -14vw;
  text-align: left;
  transform: rotate(35deg);
}

/* Attribution notes */

.attribution {
  font-size: .75rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.attribution p {
  margin-bottom: 0;
  color: hsl(213, 24%, 15%);
}

.attribution a {
  color: hsl(215, 37%, 90%);
}

.fa-heart,
.fa-mug-hot {
  padding: 0 .1rem;
}

.fa-mug-hot {
  font-size: .9rem;
  position: relative;
  top: -.1rem;
}

.ltd {
  padding-left: .2rem;
}

.hero-icons>img {
  animation: icon-reveal .5s ease-in-out 1s 1 forwards;
}

.hero-icons>img:nth-of-type(2) {
  animation-delay: 2s;
}

.chevron-box {
  animation: bob 2s 2.5s ease-in-out infinite;
}

@keyframes icon-reveal {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bob {
  0% {
    top: 136vw;
  }

  50% {
    top: 140vw;
  }

  100% {
    top: 136vw;
  }
}

/* Media Queries */

/* Tablet screens */

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.33rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  figure {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  blockquote {
    font-size: 1.1rem;
  }

  .btn-book {
    background-color: hsl(47, 58%, 56%);
    color: hsl(0, 0%, 100%);
    display: inline-block;
    margin-top: .75rem;
    letter-spacing: unset;
    font-weight: 600;
  }

  .hero-icons {
    padding-top: 15vw;
  }

  .hero-icons>img:nth-of-type(2) {
    right: 5vw;
  }

  .chevron-box {
    top: 100vw;
  }

  .chevron-box a {
    font-size: 4.5rem;
  }

  .local-business-text,
  .get-in-touch-text {
    width: 100%;
    padding: 2rem;
  }

  .local-business-text {
    top: 6vw;
  }

  .more-info-section-text p {
    font-size: 1.05rem;
    max-width: 42rem;
    margin: 0 auto 1.25rem;
  }

  .more-info-section-text p:nth-of-type(2),
  .more-info-section-text p:nth-of-type(3) {
    display: block;
  }

  .get-in-touch-image {
    background-image: url(../images/bg-get-in-touch-md.jpg);
  }

  .get-in-touch-text {
    padding-bottom: 4.5rem;
    padding-top: 1.5rem;
  }

  .get-in-touch-text h3 {
    padding-bottom: 1.25rem;
  }

  .get-in-touch-text p {
    max-width: 27rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .profiler {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
  }

  @keyframes bob {
    0% {
      top: 100vw;
    }

    50% {
      top: 105vw;
    }

    100% {
      top: 100vw;
    }
  }

  /*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

  @supports (grid-area: auto) {
    :target::before {
      height: 4.25rem;
      /* fixed header height*/
      margin: -4.25rem 0 0;
      /* negative fixed header height */
    }

    #about {
      overflow: hidden;
      display: grid;
      grid-template-columns: 100vw;
      grid-template-rows: auto auto;
    }

    .about-section {
      height: 50vh;
    }

    .about-section>* {
      height: unset;
    }

    .about-section.coffee {
      display: flex;
    }

    .about-coffee-image {
      width: 60%;
      order: 2;
    }

    .coffee-text {
      width: 40%;
      order: 1;
    }

    .about-section.barber {
      display: grid;
      grid-template-columns: 60% 40%;
    }

    .about-section-text {
      padding: 2rem;
    }

    .about-section-text>h2,
    .about-section-text>p,
    .about-section-text>a {
      top: unset;
    }

    .coffee-text>h2,
    .coffee-text>p,
    .coffee-text>a {
      top: 1rem;
    }

    .about-section-text>h2 {
      padding: 0 0 2rem;
    }

    .more-info-section-image {
      height: 100vh;
    }
  }
}